.navbar {
    border-radius: 18px;
    /* min-height: 60px; */
    padding: 12px 32px;
    justify-content: space-between;
}

.login a,
.signup a {
    padding: 8px 18px;
    border-radius: 12px;
}

.login a {
    background-color: #04f17a;
    color: white;
    border: 2px solid #00000000;
    transition: 100ms all ease-in;
}

.login a:hover {
    border: 2px solid #04f17a;
    color: #04f17a;
    background-color: #00000000;
}

.signup a {
    background-color: #19647e;
    color: aliceblue;
    border: 2px solid #00000000;
    transition: 100ms all ease-in;
}

.signup a:hover {
    border: 2px solid #19647e;
    color: #19647e;
    background-color: #00000000;
}













































@media only screen and (min-width : 576px) {
    .navbar {
        width: 92%;
    }
}


@media only screen and (min-width : 768px) {
    .navbar {
        width: 70%;
    }
}


@media only screen and (min-width : 992px) {
    .navbar {
        width: 92%;
    }
}


@media only screen and (min-width : 1200px) {
    .navbar {
        width: 75%;
    }
}