body {
    margin-top: 0;
}

.dashboard {
    width: 350px;
    height: 100vh;
    background-color: #19647e;
    position: fixed;
    transform: translateX(-75%);
    transition: 300ms all ease-in;
    z-index: 10;
}

.dashboard:hover {
    transform: translateX(0%);
}

#profile {
    background-color: #144c5f;
}

.pages {
    padding-left: 100px;
    background-color: #eee8e3;
    height: 100vh;
}

.dashElement {
    height: 72px;
    color: #fdfdfd;
    width: 100%;
    transition: 100ms all ease-in;
}

.dashElement:hover {
    background-color: #fdfdfd !important;
    color: #19647e;
}

.dashElementActive {
    background-color: #fdfdfd !important;
    color: #19647e !important;
}

.dashElementActive>a {
    color: #19647e !important;
}

.dashElement>a {
    text-decoration: none;
    color: #fdfdfd;
    transition: 100ms all ease-in;
}

.dashElement:hover>a {
    color: #19647e;
}

.dash-icon {
    padding-right: 1px;
}

.logoutBtn {
    width: 100%;
    background: none;
    background-color: #F63E02;
    border: 0;
    padding: 0;
    color: #fdfdfd;
    transition: 100ms all ease-out;
}

.logoutBtn:hover {
    color: #F63E02;
    background-color: #fdfdfd;
}

.logoutBtn svg {
    height: 40px;
    margin-right: 9px;
}

.dash-icon svg {
    height: 40px;
    margin-right: 9px;
}






.pages {
    padding: 25px;
    padding-left: 120px;
}