
.main_{
    color:rgb(0, 201, 0);
    height: 550px;
}



.right_side{

    background-color: #999990;
    width: 35%;

    display: flex;
    margin-left: 10px;

}


.left_side{

    background-color: rgb(234, 234, 234);
    width: 60%;
        display: flex;


}




.footer{
    background-color: black;
    height: 90px;
    width: 100%;

}



.title{

   font-weight:bold;
   color:#25e725



}
