
.header {
    /* background-color: #fff; */
    /* background: linear-gradient(45deg, #19647e, #04f17a,#208d91); */
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab,#ee7752);
    background-size: 400% 400%;
    border-bottom: 1px solid #eee;
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 100vh;
    animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.home-img-container>img {
    height: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 8px;
}

.courses,
.events {
    padding: 100px 80px;
    margin: 150px 0px;
}

.news {
    background-color: #19647e;
    color: #fafafa;
    padding: 100px 80px;
    margin: 150px 0px;
}

.testimonies {
    margin-top: 150px;
}

.rev {
    background-color: #19647e;
    color: #fafafa;
    padding: 100px 80px;
    margin-top: 150px;
}