.select-table-btns {
    margin: 15px 0px 0px 0px;
    margin-left: 30px;
}

.select-table-btns>button {
    background-color: #eee8e3;
    color: #0f0f0f;
    font-size: 18px;
    margin: 0px 2px;
    padding: 9px 18px;
    border: 0;
    border-radius: 8px 8px 0px 0px;
    transition: 100ms all ease-out;
}

.select-table-btns>button:hover {
    background-color: #d0c9c4;
}

.role-selected {
    background-color: #d0c9c4 !important;
}