.profile-container {
    border: 2px solid #afafaf;
    border-radius: 20px;
    overflow: hidden;
    transition: 200ms all ease-out;
}

.avatar-container {
    background-color: #19647e;
}

.profile-role {
    font-size: 1.4em;
}

.profile-name {
    font-size: 3em;
}

.profile-cin,
.profile-phone,
.profile-email {
    font-size: 1.2em;
}